src/public/view/action_sheet.jade
.page.actionsheet
  .bd.spacing
    .cont
      wheader(ctitle="'ActionSheet'" cbuttons='vars.header_btns')
      //- 显示actionsheet底部弹出
      wbutton(ctitle="'底部弹出'" cstyle="'a'" cbf='act.showActionSheet()')
      //- actionSheet底部弹出
      wactionsheet(actionitems="vars.asMenus" astatus='vars.asStatus' cbf='act.actionSheetClk(action_index)')

dest/public/view/action_sheet.html
<div class="page actionsheet"><div class="bd spacing"><div class="cont"><wheader ctitle="'ActionSheet'" cbuttons="vars.header_btns"></wheader><wbutton ctitle="'底部弹出'" cstyle="'a'" cbf="act.showActionSheet()"></wbutton><wactionsheet actionitems="vars.asMenus" astatus="vars.asStatus" cbf="act.actionSheetClk(action_index)"></wactionsheet></div></div></div>
