dest/public/view/app_load.html
<div id="app_load" class="weui_loading_toast"><div class="weui_mask_transparent"></div><div class="weui_toast"><div class="weui_loading"><div class="weui_loading_leaf weui_loading_leaf_0"></div><div class="weui_loading_leaf weui_loading_leaf_1"></div><div class="weui_loading_leaf weui_loading_leaf_2"></div><div class="weui_loading_leaf weui_loading_leaf_3"></div><div class="weui_loading_leaf weui_loading_leaf_4"></div><div class="weui_loading_leaf weui_loading_leaf_5"></div><div class="weui_loading_leaf weui_loading_leaf_6"></div><div class="weui_loading_leaf weui_loading_leaf_7"></div><div class="weui_loading_leaf weui_loading_leaf_8"></div><div class="weui_loading_leaf weui_loading_leaf_9"></div><div class="weui_loading_leaf weui_loading_leaf_10"></div><div class="weui_loading_leaf weui_loading_leaf_11"></div></div><p class="weui_toast_content">数据加载中</p></div></div>

src/public/view/app_load.jade
.weui_loading_toast(id='app_load')
  .weui_mask_transparent
  .weui_toast
    .weui_loading
      .weui_loading_leaf.weui_loading_leaf_0
      .weui_loading_leaf.weui_loading_leaf_1
      .weui_loading_leaf.weui_loading_leaf_2
      .weui_loading_leaf.weui_loading_leaf_3
      .weui_loading_leaf.weui_loading_leaf_4
      .weui_loading_leaf.weui_loading_leaf_5
      .weui_loading_leaf.weui_loading_leaf_6
      .weui_loading_leaf.weui_loading_leaf_7
      .weui_loading_leaf.weui_loading_leaf_8
      .weui_loading_leaf.weui_loading_leaf_9
      .weui_loading_leaf.weui_loading_leaf_10
      .weui_loading_leaf.weui_loading_leaf_11
    p.weui_toast_content 数据加载中
