dest/public/view/cell.html
<div class="page cell"><div class="bd"><div class="cont"><wheader ctitle="'Cell'" cbuttons="vars.header_btns"></wheader><div class="weui_cells_title">产品列表</div><wlistview clisttype="'a'" clistitems="vars.prod_items"></wlistview><div class="weui_cells_title">性别</div><wbox clabel="'性别'" ctype="'radio'" citems="vars.sex_items" radioitems="vars.sex_val" cfieldname="'sex'" cbf="act.sexChange(radio_data)"></wbox><div class="weui_cells_title">爱好</div><wbox clabel="'爱好'" ctype="'checkbox'" citems="vars.love_items" checkitems="vars.love_val" cfieldname="'love'" cbf="act.loveChange(check_data)"></wbox><div class="weui_cells_title">开关</div><wbox clabel="'开关'" ctype="'switch'" switchitems="vars.switch_val" cfieldname="'switch'" cbf="act.switchChange(switch_data)"></wbox><div class="weui_cells_title">联系方式</div><div class="weui_cells weui_cells_form"><wbox clabel="'qq号'" ctype="'textbox'" textitems="vars.qq_val" cfieldname="'qq'" cbf="act.qqChange(text_data)" cplaceholder="'请输入qq号'" iscell="true"></wbox><wbox clabel="'验证码'" ctype="'vcode'" vcodeitems="vars.vcode_val" cfieldname="'vcode'" vimgurl="img/vcode.jpg" cbf="act.vcodeChange(vcode_data)" cplaceholder="'请输入验证码'" iscell="true"></wbox><wbox clabel="'备注'" ctype="'textarea'" textareaitems="vars.remark_val" cfieldname="'remark'" cbf="act.remarkChange(textarea_data)" cplaceholder="'请输入备注'" iscell="true"></wbox><wbox clabel="'日期'" ctype="'date'" dateitems="vars.rq_val" cfieldname="'rq'" cbf="act.rqChange(date_data)" cplaceholder="'请输入日期'" iscell="true"></wbox></div><div class="weui_cells_title">选择</div><wbox clabel="'联系方式'" ctype="'select'" citems="vars.lxfs_items" selectitems="vars.lxfs_val" cfieldname="'fztype'" cbf="act.lxfsChange(select_data)"></wbox></div></div></div>

src/public/view/cell.jade
.page.cell
  .bd
    .cont
      wheader(ctitle="'Cell'" cbuttons='vars.header_btns')
      .weui_cells_title 产品列表
      wlistview(clisttype="'a'" clistitems='vars.prod_items')
      .weui_cells_title 性别
      wbox(clabel="'性别'" ctype="'radio'" citems='vars.sex_items' radioitems='vars.sex_val' cfieldname="'sex'" cbf='act.sexChange(radio_data)')
      .weui_cells_title 爱好
      wbox(clabel="'爱好'" ctype="'checkbox'" citems='vars.love_items' checkitems='vars.love_val' cfieldname="'love'" cbf='act.loveChange(check_data)')
      .weui_cells_title 开关
      wbox(clabel="'开关'" ctype="'switch'" switchitems='vars.switch_val' cfieldname="'switch'" cbf='act.switchChange(switch_data)')
      .weui_cells_title 联系方式
      .weui_cells.weui_cells_form
        wbox(clabel="'qq号'" ctype="'textbox'" textitems='vars.qq_val' cfieldname="'qq'" cbf='act.qqChange(text_data)' cplaceholder="'请输入qq号'" iscell="true")
        wbox(clabel="'验证码'" ctype="'vcode'" vcodeitems='vars.vcode_val' cfieldname="'vcode'" vimgurl='img/vcode.jpg' cbf='act.vcodeChange(vcode_data)' cplaceholder="'请输入验证码'" iscell="true")
        wbox(clabel="'备注'" ctype="'textarea'" textareaitems='vars.remark_val' cfieldname="'remark'" cbf='act.remarkChange(textarea_data)' cplaceholder="'请输入备注'" iscell="true")
        wbox(clabel="'日期'" ctype="'date'" dateitems='vars.rq_val' cfieldname="'rq'" cbf='act.rqChange(date_data)' cplaceholder="'请输入日期'" iscell="true")
      .weui_cells_title 选择
      wbox(clabel="'联系方式'" ctype="'select'" citems='vars.lxfs_items' selectitems='vars.lxfs_val' cfieldname="'fztype'" cbf='act.lxfsChange(select_data)')
