dest/public/view/dialog.html
<div class="page dialog"><div class="bd"><div class="cont"><wheader ctitle="'Dialog'" cbuttons="vars.header_btns"></wheader><wbutton ctitle="'点击弹出Dialog样式一'" cstyle="'a'" cbf="act.showDlg()"></wbutton><wbutton ctitle="'点击弹出Dialog样式二'" cstyle="'a'" cbf="act.showDlg2()"></wbutton><wdialog ctitle="'弹窗标题'" cdlgtype="'confirm'" okclk="act.ok()" cancelclk="act.cancel()" cstatus="vars.dlgStatus"><span>自定义弹窗内容，居左对齐显示，告知需要确认的信息等</span></wdialog><wdialog ctitle="'弹窗标题'" cdlgtype="'alert'" okclk="act.ok2()" cancelclk="act.cancel2()" cstatus="vars.dlgStatus2"><span>弹窗内容，告知当前页面信息等</span></wdialog></div></div></div>

src/public/view/dialog.jade
.page.dialog
  .bd
    .cont
      wheader(ctitle="'Dialog'" cbuttons='vars.header_btns')

      wbutton(ctitle="'点击弹出Dialog样式一'" cstyle="'a'" cbf='act.showDlg()')
      wbutton(ctitle="'点击弹出Dialog样式二'" cstyle="'a'" cbf='act.showDlg2()')

      //- 确认对话框
      wdialog(ctitle="'弹窗标题'" cdlgtype="'confirm'" okclk='act.ok()' cancelclk='act.cancel()'  cstatus='vars.dlgStatus')
        span 自定义弹窗内容，居左对齐显示，告知需要确认的信息等
      //- 提示对话框
      wdialog(ctitle="'弹窗标题'" cdlgtype="'alert'" okclk='act.ok2()' cancelclk='act.cancel2()'  cstatus='vars.dlgStatus2')
        span 弹窗内容，告知当前页面信息等
