dest/public/view/index.html
<!DOCTYPE html><html lang="zh"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width initial-scale=1 user-scalable=0"><link rel="stylesheet" href="css/weui.min.css"><link rel="stylesheet" href="css/weui-base.css"><link rel="stylesheet" href="css/weui-ext.css"><title>weui组件演示</title></head><body><div id="view_cont" ng-cloak class="main"><div class="page"><div class="hd"><h1 class="page_title">应用主界面</h1></div><div class="bd"><div id="app_load" class="weui_loading_toast"><div class="weui_mask_transparent"></div><div class="weui_toast"><div class="weui_loading"><div class="weui_loading_leaf weui_loading_leaf_0"></div><div class="weui_loading_leaf weui_loading_leaf_1"></div><div class="weui_loading_leaf weui_loading_leaf_2"></div><div class="weui_loading_leaf weui_loading_leaf_3"></div><div class="weui_loading_leaf weui_loading_leaf_4"></div><div class="weui_loading_leaf weui_loading_leaf_5"></div><div class="weui_loading_leaf weui_loading_leaf_6"></div><div class="weui_loading_leaf weui_loading_leaf_7"></div><div class="weui_loading_leaf weui_loading_leaf_8"></div><div class="weui_loading_leaf weui_loading_leaf_9"></div><div class="weui_loading_leaf weui_loading_leaf_10"></div><div class="weui_loading_leaf weui_loading_leaf_11"></div></div><p class="weui_toast_content">数据加载中</p></div></div></div></div><div ng-view class="view"></div></div><script type="text/javascript" src="comps/sea.min.js"></script><script type="text/javascript" src="comps/seajs-text.js"></script><script type="text/javascript" src="js/init.js"></script></body></html>

src/public/view/index.jade
doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(name='viewport'  content='width=device-width initial-scale=1 user-scalable=0')
    link(rel='stylesheet'  href='css/weui.min.css')
    link(rel='stylesheet'  href='css/weui-base.css')
    link(rel='stylesheet'  href='css/weui-ext.css')
    title weui组件演示
  body
    .main(id='view_cont' ng-cloak)
      .page
        .hd
          h1.page_title 应用主界面
        .bd
          include app_load
      .view(ng-view)

    script(type='text/javascript' src='comps/sea.min.js')
    script(type='text/javascript' src='comps/seajs-text.js')
    script(type='text/javascript' src='js/init.js')
