dest/public/view/msg_page.html
<div class="page msg"><div class="bd"><div class="cont"><wheader ctitle="'Msg'" cbuttons="vars.header_btns"></wheader><wmsgpage msgtitle="'操作成功'" msgdesc="'内容详情，可根据实际需要安排'" msgtype="'success'" okclk="act.msgOkClk()" cancelclk="act.msgCancelClk()" detailurl="''"></wmsgpage></div></div></div>

src/public/view/msg_page.jade
.page.msg
  .bd
    .cont
      wheader(ctitle="'Msg'" cbuttons='vars.header_btns')
      //- 消息页
      wmsgpage(msgtitle="'操作成功'" msgdesc="'内容详情，可根据实际需要安排'" msgtype="'success'" okclk='act.msgOkClk()' cancelclk='act.msgCancelClk()' detailurl="''")
