src/public/view/progress.jade
.page.progress
  .bd.spacing
    .cont
      wheader(ctitle="'Progress'" cbuttons='vars.header_btns')
      br
      //- 进度条
      wprogress(cpercent="vars.percent1")
      br
      //- 进度条
      wprogress(cpercent="vars.percent2")
      br
      //- 进度条
      wprogress(cpercent="vars.percent3")
      br
      wbutton(ctitle="'上传'" cstyle="'a'" cbf='act.upload()')
     

dest/public/view/progress.html
<div class="page progress"><div class="bd spacing"><div class="cont"><wheader ctitle="'Progress'" cbuttons="vars.header_btns"></wheader><br/><wprogress cpercent="vars.percent1"></wprogress><br/><wprogress cpercent="vars.percent2"></wprogress><br/><wprogress cpercent="vars.percent3"></wprogress><br/><wbutton ctitle="'上传'" cstyle="'a'" cbf="act.upload()"></wbutton></div></div></div>
