dest/public/view/toast.html
<div class="page toast"><div class="bd"><div class="cont"><wheader ctitle="'Toast'" cbuttons="vars.header_btns"></wheader><wbutton ctitle="'点击弹出Toast'" cstyle="'a'" cbf="act.showToast()"></wbutton><wbutton ctitle="'点击弹出Loadding Toast'" cstyle="'a'" cbf="act.showLoadToast()"></wbutton><wtoast ctoasttype="'toastok'" cstatus="vars.toastStatus"></wtoast><wtoast ctoasttype="'toastload'" cstatus="vars.toastLoadStatus"></wtoast></div></div></div>

src/public/view/toast.jade
.page.toast
  .bd
    .cont
      wheader(ctitle="'Toast'" cbuttons='vars.header_btns')
      
      //- 操作按钮
      wbutton(ctitle="'点击弹出Toast'" cstyle="'a'" cbf='act.showToast()')
      wbutton(ctitle="'点击弹出Loadding Toast'" cstyle="'a'" cbf='act.showLoadToast()')

      //- 加载ok对话框
      wtoast(ctoasttype="'toastok'" cstatus='vars.toastStatus')
      //- 加载loading对话框
      wtoast(ctoasttype="'toastload'" cstatus='vars.toastLoadStatus')
