src/public/tpl/action_sheet_tpl.jade
.w_act_wrap
  .weui_mask_transition(ng-show='astatus' ng-class='{weui_fade_toggle: astatus}' ng-click='astatus = false')
  .weui_actionsheet(ng-class='{weui_actionsheet_toggle: astatus}')
    .weui_actionsheet_menu
      .weui_actionsheet_cell(ng-repeat='aitem in actionitems' ng-click='item_clk($index)') {{aitem.title}}
    .weui_actionsheet_action
      .weui_actionsheet_cell(ng-click='astatus = false') 取消

dest/public/tpl/action_sheet_tpl.html
<div class="w_act_wrap"><div ng-show="astatus" ng-class="{weui_fade_toggle: astatus}" ng-click="astatus = false" class="weui_mask_transition"></div><div ng-class="{weui_actionsheet_toggle: astatus}" class="weui_actionsheet"><div class="weui_actionsheet_menu"><div ng-repeat="aitem in actionitems" ng-click="item_clk($index)" class="weui_actionsheet_cell">{{aitem.title}}</div></div><div class="weui_actionsheet_action"><div ng-click="astatus = false" class="weui_actionsheet_cell">取消</div></div></div></div>
