dest/public/tpl/button_tpl.html
<a ng-if="&quot;a&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_primary w_mg_t15">{{ctitle}}</a><a ng-if="&quot;b&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_disabled weui_btn_primary w_mg_t15">{{ctitle}}</a><a ng-if="&quot;c&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_warn w_mg_t15">{{ctitle}}</a><a ng-if="&quot;d&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_disabled weui_btn_warn w_mg_t15">{{ctitle}}</a><a ng-if="&quot;e&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_default w_mg_t15">{{ctitle}}</a><a ng-if="&quot;f&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_disabled weui_btn_default w_mg_t15">{{ctitle}}</a><div ng-if="cinner" class="button_sp_area"><a ng-if="&quot;g&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_plain_default w_mg_t15">{{ctitle}}</a><a ng-if="&quot;h&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_plain_primary w_mg_t15">{{ctitle}}</a><a ng-if="&quot;i&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_mini weui_btn_primary w_mg_t15">{{ctitle}}</a><a ng-if="&quot;j&quot; == &quot;&quot; + cstyle" href="javascript:;" ng-click="btnClk()" class="weui_btn weui_btn_mini weui_btn_default w_mg_t15">{{ctitle}}</a></div>

src/public/tpl/button_tpl.jade
a.weui_btn.weui_btn_primary.w_mg_t15(ng-if='"a" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
a.weui_btn.weui_btn_disabled.weui_btn_primary.w_mg_t15(ng-if='"b" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
a.weui_btn.weui_btn_warn.w_mg_t15(ng-if='"c" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
a.weui_btn.weui_btn_disabled.weui_btn_warn.w_mg_t15(ng-if='"d" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
a.weui_btn.weui_btn_default.w_mg_t15(ng-if='"e" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
a.weui_btn.weui_btn_disabled.weui_btn_default.w_mg_t15(ng-if='"f" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
.button_sp_area(ng-if='cinner')
  a.weui_btn.weui_btn_plain_default.w_mg_t15(ng-if='"g" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
  a.weui_btn.weui_btn_plain_primary.w_mg_t15(ng-if='"h" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
  a.weui_btn.weui_btn_mini.weui_btn_primary.w_mg_t15(ng-if='"i" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
  a.weui_btn.weui_btn_mini.weui_btn_default.w_mg_t15(ng-if='"j" == "" + cstyle' href='javascript:;' ng-click='btnClk()') {{ctitle}}
