dest/public/tpl/cmpt_tpl.html
<!-- 复选框--><div ng-if="&quot;checkbox&quot; == &quot;&quot; + ctype" class="weui_cells weui_cells_checkbox w_mt"><label for="{{cfieldname}}_{{citem.key}}" ng-repeat="citem in citems" class="weui_cell weui_check_label"><div class="weui_cell_hd"><input type="checkbox" name="{{cfieldname}}" id="{{cfieldname}}_{{citem.key}}" ng-model="$parent.checkitems[$index].checked" ng-click="checkClick()" class="weui_check"/><i class="weui_icon_checked"></i></div><div class="weui_cell_bd weui_cell_primary"><p>{{citem.value}} {{checkitems[$index].checked}}</p></div></label></div><!-- 单选框--><div ng-if="&quot;radio&quot; == &quot;&quot; + ctype" class="weui_cells weui_cells_radio w_mt"><label for="{{cfieldname}}_{{citem.key}}" ng-repeat="citem in citems" class="weui_cell weui_check_label"><div class="weui_cell_bd weui_cell_primary"><p>{{citem.value}}</p></div><div class="weui_cell_ft"><input type="radio" name="{{cfieldname}}" id="{{cfieldname}}_{{citem.key}}" value="{{citem.key}}" ng-model="$parent.$parent.radioitems" ng-click="radioClick()" class="weui_check"/><span class="weui_icon_checked"></span></div></label></div><!-- 下拉框--><div ng-if="&quot;select&quot; == &quot;&quot; + ctype" class="weui_cells w_mt"><div class="weui_cell weui_cell_select weui_select_after"><div class="weui_cell_hd">{{clabel}}</div><div class="weui_cell_bd weui_cell_primary"><select id="{{cfieldname}}" ng-model="$parent.selectitems" ng-change="selectChange()" ng-options="citem.key as citem.value for citem in citems" class="weui_select"><option value="">---请选择---</option></select></div></div></div><!-- 开关--><div ng-if="&quot;switch&quot; == &quot;&quot; + ctype" class="weui_cells w_mt"><div class="weui_cell weui_cell_switch"><div class="weui_cell_hd weui_cell_primary">{{clabel}} {{$parent.switchitems}}</div><div class="weui_cell_ft"><input type="checkbox" name="{{cfieldname}}" id="{{cfieldname}}" ng-model="$parent.switchitems" checked="true" ng-click="switchClick()" class="weui_switch"/></div></div></div><!-- 文本框--><div ng-if="&quot;textbox&quot; == &quot;&quot; + ctype" class="w_mt"><div ng-class="{w_c_bf:iscell}" class="weui_cell"><div class="weui_cell_hd"><label class="weui_label">{{clabel}}</label></div><div class="weui_cell_bd weui_cell_primary"><input type="text" name="{{cfieldname}}" id="{{cfieldname}}" ng-model="$parent.textitems" placeholder="{{cplaceholder}}" ng-change="textChange()" class="weui_input"/></div></div></div><!-- 验证码--><div ng-if="&quot;vcode&quot; == &quot;&quot; + ctype" class="w_mt"><div ng-class="{w_c_bf:iscell}" class="weui_cell weui_vcode"><div class="weui_cell_hd"><label class="weui_label">{{clabel}}</label></div><div class="weui_cell_bd weui_cell_primary"><input type="text" name="{{cfieldname}}" id="{{cfieldname}}" ng-model="$parent.vcodeitems" placeholder="{{cplaceholder}}" ng-change="vcodeChange()" class="weui_input"/></div><div class="weui_cell_ft"><img ng-src="{{vimgurl}}"/></div></div></div><!-- 多行文本框--><div ng-if="&quot;textarea&quot; == &quot;&quot; + ctype" class="w_mt"><div ng-class="{w_c_bf:iscell}" class="weui_cell"><div class="weui_cell_hd"><label class="weui_label">{{clabel}}</label></div><div class="weui_cell_bd weui_cell_primary"><textarea name="{{cfieldname}}" id="{{cfieldname}}" ng-model="$parent.textareaitems" placeholder="{{cplaceholder}}" ng-change="textareaChange()" class="weui_textarea"></textarea></div></div></div><!-- 日期控件--><div ng-if="&quot;date&quot; == &quot;&quot; + ctype" class="w_mt"><div ng-class="{w_c_bf:iscell}" class="weui_cell"><div class="weui_cell_hd"><label for="" class="weui_label">{{clabel}}</label></div><div class="weui_cell_bd weui_cell_primary"><input type="date" name="{{cfieldname}}" id="{{cfieldname}}" ng-model="$parent.dateitems" placeholder="{{cplaceholder}}" ng-change="dateChange()" class="weui_input"/></div></div></div>

src/public/tpl/cmpt_tpl.jade
// 复选框
.weui_cells.weui_cells_checkbox.w_mt(ng-if='"checkbox" == "" + ctype')
  label.weui_cell.weui_check_label(for='{{cfieldname}}_{{citem.key}}', ng-repeat='citem in citems')
    .weui_cell_hd
      input.weui_check(type='checkbox', name='{{cfieldname}}', id='{{cfieldname}}_{{citem.key}}', ng-model='$parent.checkitems[$index].checked', ng-click='checkClick()')
      i.weui_icon_checked
    .weui_cell_bd.weui_cell_primary
      p {{citem.value}} {{checkitems[$index].checked}}

// 单选框
.weui_cells.weui_cells_radio.w_mt(ng-if='"radio" == "" + ctype')
  label.weui_cell.weui_check_label(for='{{cfieldname}}_{{citem.key}}', ng-repeat='citem in citems')
    .weui_cell_bd.weui_cell_primary
      p {{citem.value}}
    .weui_cell_ft
      input.weui_check(type='radio', name='{{cfieldname}}', id='{{cfieldname}}_{{citem.key}}', value='{{citem.key}}', ng-model='$parent.$parent.radioitems', ng-click='radioClick()')
      span.weui_icon_checked

// 下拉框
.weui_cells.w_mt(ng-if='"select" == "" + ctype')
  .weui_cell.weui_cell_select.weui_select_after
    .weui_cell_hd
      | {{clabel}}
    .weui_cell_bd.weui_cell_primary
      select.weui_select(id='{{cfieldname}}', ng-model='$parent.selectitems', ng-change='selectChange()', ng-options='citem.key as citem.value for citem in citems')
        option(value='') ---请选择---

// 开关
.weui_cells.w_mt(ng-if='"switch" == "" + ctype')
  .weui_cell.weui_cell_switch
    .weui_cell_hd.weui_cell_primary {{clabel}} {{$parent.switchitems}}
    .weui_cell_ft
      input.weui_switch(type='checkbox', name='{{cfieldname}}', id='{{cfieldname}}', ng-model='$parent.switchitems', checked='true', ng-click='switchClick()')

// 文本框
.w_mt(ng-if='"textbox" == "" + ctype')
  .weui_cell(ng-class='{w_c_bf:iscell}')
    .weui_cell_hd
      label.weui_label {{clabel}}
    .weui_cell_bd.weui_cell_primary
      input.weui_input(type='text', name='{{cfieldname}}', id='{{cfieldname}}', ng-model='$parent.textitems', placeholder='{{cplaceholder}}', ng-change='textChange()')

// 验证码
.w_mt(ng-if='"vcode" == "" + ctype')
  .weui_cell.weui_vcode(ng-class='{w_c_bf:iscell}')
    .weui_cell_hd
      label.weui_label {{clabel}}
    .weui_cell_bd.weui_cell_primary
      input.weui_input(type='text', name='{{cfieldname}}', id='{{cfieldname}}', ng-model='$parent.vcodeitems', placeholder='{{cplaceholder}}', ng-change='vcodeChange()')
    .weui_cell_ft
      img(ng-src='{{vimgurl}}')

// 多行文本框
.w_mt(ng-if='"textarea" == "" + ctype')
  .weui_cell(ng-class='{w_c_bf:iscell}')
    .weui_cell_hd
      label.weui_label {{clabel}}
    .weui_cell_bd.weui_cell_primary
      textarea.weui_textarea(name='{{cfieldname}}', id='{{cfieldname}}', ng-model='$parent.textareaitems', placeholder='{{cplaceholder}}', ng-change='textareaChange()')

// 日期控件
.w_mt(ng-if='"date" == "" + ctype')
  .weui_cell(ng-class='{w_c_bf:iscell}')
    .weui_cell_hd
      label.weui_label(for='') {{clabel}}
    .weui_cell_bd.weui_cell_primary
      input.weui_input(type='date', name='{{cfieldname}}', id='{{cfieldname}}', ng-model='$parent.dateitems', placeholder='{{cplaceholder}}', ng-change='dateChange()')
