src/public/tpl/dialog_tpl.jade
// 确认对话框
.weui_dialog_confirm(ng-if='"" + cdlgtype == "confirm"' ng-show='cstatus')
  .weui_mask
  .weui_dialog
    .weui_dialog_hd
      strong.weui_dialog_title {{ctitle}}
    .weui_dialog_bd(ng-transclude)
    .weui_dialog_ft
      a.weui_btn_dialog.default(href='javascript:;' ng-click='cancelclk();') 取消
      a.weui_btn_dialog.primary(href='javascript:;' ng-click='okclk();') 确定

// 提示对话框
.weui_dialog_alert(ng-if='"" + cdlgtype == "alert"' ng-show='cstatus')
  .weui_mask
  .weui_dialog
    .weui_dialog_hd
      strong.weui_dialog_title {{ctitle}}
    .weui_dialog_bd(ng-transclude)
    .weui_dialog_ft
      a.weui_btn_dialog.primary(href='javascript:;' ng-click='okclk();') 确定

dest/public/tpl/dialog_tpl.html
<!-- 确认对话框--><div ng-if="&quot;&quot; + cdlgtype == &quot;confirm&quot;" ng-show="cstatus" class="weui_dialog_confirm"><div class="weui_mask"></div><div class="weui_dialog"><div class="weui_dialog_hd"><strong class="weui_dialog_title">{{ctitle}}</strong></div><div ng-transclude="ng-transclude" class="weui_dialog_bd"></div><div class="weui_dialog_ft"><a href="javascript:;" ng-click="cancelclk();" class="weui_btn_dialog default">取消</a><a href="javascript:;" ng-click="okclk();" class="weui_btn_dialog primary">确定</a></div></div></div><!-- 提示对话框--><div ng-if="&quot;&quot; + cdlgtype == &quot;alert&quot;" ng-show="cstatus" class="weui_dialog_alert"><div class="weui_mask"></div><div class="weui_dialog"><div class="weui_dialog_hd"><strong class="weui_dialog_title">{{ctitle}}</strong></div><div ng-transclude="ng-transclude" class="weui_dialog_bd"></div><div class="weui_dialog_ft"><a href="javascript:;" ng-click="okclk();" class="weui_btn_dialog primary">确定</a></div></div></div>
