src/public/tpl/grid_tpl.jade
.weui_grids
  a.weui_grid.js_grid(ng-href='{{griditem.goto_url}}', data-id='button' ng-repeat='griditem in griditems')
    .weui_grid_icon
      img(ng-src='{{griditem.img_url}}', alt='')
    p.weui_grid_label
      | {{griditem.text}}

dest/public/tpl/grid_tpl.html
<div class="weui_grids"><a ng-href="{{griditem.goto_url}}" data-id="button" ng-repeat="griditem in griditems" class="weui_grid js_grid"><div class="weui_grid_icon"><img ng-src="{{griditem.img_url}}" alt=""/></div><p class="weui_grid_label">{{griditem.text}}</p></a></div>
