src/public/tpl/listview_tpl.jade
.weui_cells.w_mt(ng-if='"a" == "" + clisttype')
  .weui_cell(ng-repeat='clistitem in clistitems')
    .weui_cell_bd.weui_cell_primary
      p {{clistitem.title}}
    .weui_cell_ft {{clistitem.remark}}

.weui_cells.weui_cells_access.w_mt(ng-if='"e" == "" + clisttype')
  a.weui_cell(ng-repeat='clistitem in clistitems' ng-href='{{clistitem.goto_url}}')
    .weui_cell_hd(ng-if='"" != clistitem.img_url')
      img(ng-src='{{clistitem.img_url}}', alt='', style='width:20px;margin-right:5px;display:block')
    .weui_cell_bd.weui_cell_primary
      p {{clistitem.title}}
    .weui_cell_ft(ng-switch='clistitem.remark')
      span(ng-switch-when='"" != clistitem.remark') {{clistitem.remark}}
      span(ng-switch-else='') &nbsp;

dest/public/tpl/listview_tpl.html
<div ng-if="&quot;a&quot; == &quot;&quot; + clisttype" class="weui_cells w_mt"><div ng-repeat="clistitem in clistitems" class="weui_cell"><div class="weui_cell_bd weui_cell_primary"><p>{{clistitem.title}}</p></div><div class="weui_cell_ft">{{clistitem.remark}}</div></div></div><div ng-if="&quot;e&quot; == &quot;&quot; + clisttype" class="weui_cells weui_cells_access w_mt"><a ng-repeat="clistitem in clistitems" ng-href="{{clistitem.goto_url}}" class="weui_cell"><div ng-if="&quot;&quot; != clistitem.img_url" class="weui_cell_hd"><img ng-src="{{clistitem.img_url}}" alt="" style="width:20px;margin-right:5px;display:block"/></div><div class="weui_cell_bd weui_cell_primary"><p>{{clistitem.title}}</p></div><div ng-switch="clistitem.remark" class="weui_cell_ft"><span ng-switch-when="&quot;&quot; != clistitem.remark">{{clistitem.remark}}</span><span ng-switch-else="">&nbsp;</span></div></a></div>
