dest/public/tpl/msg_page_tpl.html
<div class="weui_msg"><div class="weui_icon_area"><i ng-class="{weui_icon_success: 'success'== msgtype, weui_icon_info: 'info'== msgtype, weui_icon_warn: 'warn'== msgtype, weui_icon_waiting: 'waiting'== msgtype, weui_icon_safe_success: 'safe_success'== msgtype, weui_icon_safe_warn: 'safe_warn'== msgtype}" class="weui_icon_msg"></i></div><div class="weui_text_area"><h2 class="weui_msg_title">{{msgtitle}}</h2><p class="weui_msg_desc">{{msgdesc}}</p></div><div class="weui_opr_area"><p class="weui_btn_area"><a href="javascript:;" ng-click="okclk();" class="weui_btn weui_btn_primary">确定</a><a href="javascript:;" ng-click="cancelclk();" class="weui_btn weui_btn_default">取消</a></p></div><div ng-if="'' != detailurl" class="weui_extra_area"><a ng-href="{{detailurl}}">查看详情</a></div></div>

src/public/tpl/msg_page_tpl.jade
.weui_msg
  .weui_icon_area
    i.weui_icon_msg(ng-class="{weui_icon_success: 'success'== msgtype, weui_icon_info: 'info'== msgtype, weui_icon_warn: 'warn'== msgtype, weui_icon_waiting: 'waiting'== msgtype, weui_icon_safe_success: 'safe_success'== msgtype, weui_icon_safe_warn: 'safe_warn'== msgtype}")
  .weui_text_area
    h2.weui_msg_title {{msgtitle}}
    p.weui_msg_desc {{msgdesc}}
  .weui_opr_area
    p.weui_btn_area
      a.weui_btn.weui_btn_primary(href='javascript:;' ng-click='okclk();') 确定
      a.weui_btn.weui_btn_default(href='javascript:;' ng-click='cancelclk();') 取消
  .weui_extra_area(ng-if="'' != detailurl")
    a(ng-href='{{detailurl}}') 查看详情
